<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.eclipse.jdt.ui.Java"
            class="ide.export.appimage.ExportAppImageWizard"
            icon="icons/appimage.png"
            id="ide.export.appimage.ExportAppImageWizard"
            name="AppImage">
         <description>
            Export Java project as a Linux desktop compatible AppImage package
         </description>
      </wizard>
   </extension>

</plugin>
